<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="file" xsi:type="File"
				fileName="c:/temp/BookshopManagement/Log_${date:format=yyyyMMdd}.txt"
				archiveFileName="c:/temp/BookshopManagement/archives/Log_${date:format=yyyyMMdd}.{#}.txt"
				archiveNumbering="Rolling"
				maxArchiveFiles="5"
				archiveAboveSize="10485760"
				layout="${longdate} [${level}] ${message} ${exception}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="file" />
	</rules>
</nlog>
